// font-size
$fs-12:0.75rem;
$fs-14:0.875rem;
$fs-15: 0.9375rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
// text color
$text-33: #333;
$text-44: #444;
$text-66: #666;
$text-77: #777;
$text-red-A7: #A71F23;
// background color
$bgc-f0f4: #F0EFF4;
$bgc-d9: #d9d9d9;
$bgc-blue18: #1877f2;
$bgc-blue07: #0765df;
$bgc-blue6c: #6C8ABD;
// color
$line-d6:#d6d6d677;
$border-de: #DEDEDE;